<article>
    <div class="post-thumbnail">
    {{ range .Params.images }}
       <a href="{{ .Permalink }}">
         <img width="210" height="210" src="{{ . }}" />
       </a> 
    {{ end }}
    </div>
    <header class="entry-header">
        <h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>

        {{ partial "post-meta.html" . }}
    </header><!-- .entry-header -->

  <div class="entry-summary">
        {{ .Summary | truncate 212 }}
        <a class="more-link entry-meta" href="{{ .Permalink }}">Continue reading →</a>
  </div><!-- .entry-summary -->

</article><!-- #post-## -->