{{ define "main" -}}
<article id="post-1302" class="post">
	<header class="entry-header">
		<h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>

		{{ partial "post-meta.html" . }}
	</header><!-- .entry-header -->

	<div class="entry-content">{{ .Content }}</div><!-- .entry-content -->

	<footer class="entry-meta bottom">
		
		This entry was posted in <a href="https://midwestmash.com/category/mom-blog/" rel="category tag">Mom Blog</a> and tagged <a href="https://midwestmash.com/tag/christmas/" rel="tag">christmas</a>, <a href="https://midwestmash.com/tag/holidays/" rel="tag">holidays</a>, <a href="https://midwestmash.com/tag/mom-life/" rel="tag">mom life</a>.
	</footer><!-- .entry-meta -->
</article><!-- #post-## -->


<nav role="navigation" id="nav-below" class="post-navigation section">
	<h1 class="screen-reader-text">Post navigation</h1>

	<h2 class="section-title"><span>Navigation</span></h2>

	{{ with .Prev -}}
	<div class="nav-previous"><a href="{{ .Permalink }}" rel="prev"><span class="meta-nav">← </span>{{ .Title }}</a></div>		
	{{- end }}

	{{ with .Next -}}
	<div class="nav-next">
		<a href="{{ .Permalink }}" rel="next">{{ .Title }}<span class="meta-nav"> →</span></a>
	</div>
	{{- end }}
	
</nav><!-- #nav-below -->


<div id="comments" class="comments-area section">
    <h2 class="comments-title section-title">
		<span>Comments</span>
	</h2>
</div><!-- #comments -->
{{- end }}