{{ define "main" -}}
<article id="post-1302" class="post">
	<header class="entry-header">
		<h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>

		{{ partial "post-meta.html" . }}
	</header><!-- .entry-header -->

	{{ if .Params.recipe }}
	<div class="entry-meta">
	  <a href="#recipe">↓ Jump to recipe ↓</a>
	</div>
	{{ end }}

	<div class="entry-content">
	  {{ .Content }}

      {{ if .Params.recipe }}
		{{ partial "recipe.html" . }}
	  {{ end }}
	</div><!-- .entry-content -->

	<footer class="entry-meta bottom">
		{{ if (or (isset .Params "categories") (isset .Params "tags")) -}}
		This entry was
		{{- end }}
		{{ if .Params.categories -}}
		posted in {{ delimit .Params.categories " and " }}
		  {{ if .Params.tags -}}
		  and 
		  {{- end }}
		{{- end }}
		{{ with .Params.tags -}}
		tagged {{ delimit . " and " }}
		{{- end }}
	</footer><!-- .entry-meta -->
</article><!-- #post-## -->


<nav role="navigation" id="nav-below" class="post-navigation section">
	<h1 class="screen-reader-text">Post navigation</h1>

	<h2 class="section-title"><span>Navigation</span></h2>

	{{ with .Prev -}}
	<div class="nav-previous"><a href="{{ .Permalink }}" rel="prev"><span class="meta-nav">← </span>{{ .Title }}</a></div>		
	{{- end }}

	{{ with .Next -}}
	<div class="nav-next">
		<a href="{{ .Permalink }}" rel="next">{{ .Title }}<span class="meta-nav"> →</span></a>
	</div>
	{{- end }}
	
</nav><!-- #nav-below -->

<!--
<div id="comments" class="comments-area section">
    <h2 class="comments-title section-title">
		<span>Comments</span>
	</h2>
</div>--><!-- #comments -->
{{- end }}