<hr/>
<div id="recipe" class="recipe">
    {{ with .Params.image }}
	    <img src="{{ . }}"> 
	{{ end }}
    {{ with .Params.recipe }}
        <h2 class="">{{ .title }}</h2>
        <a href="javascript:window.print()">Print this recipe</a>
        <p><i>{{ .description }}</i></p>
        <span>Prep Time: {{ .prepTime }}</span><br>
        <span>Total Time: {{ .totalTime }}</span><br>
        <span>Makes: {{ .recipeYield }}</span><br>
        <h3>Ingredients</h3>
        <ul class="square">
            {{ range .recipeIngredient }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
        <h3>Directions</h3>
        <ol>
            {{ range .recipeInstructions }}
            <li>{{ . }}</li>
            {{ end }}
        </ol>
        {{ with .notes }}
            <h3>Recipe Notes</h3>
            <p>{{ . }}</p>
        {{ end }}
    {{ end }}
</div>
