<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Recipe",
      "name": "{{ .Title }}",
      "description": "{{ .Params.description }}",
      "recipeCategory": "{{ .Params.recipe.category }}",
      "author": {
        "name" : "{{ .Params.author }}"
      },
      "datePublished" : "{{ .PublishDate.Format "2006-01-02T15:04:05" }}",
      "dateModified" : "{{ .Date.Format "2006-01-02T15:04:05"  }}",
      "prepTime": "{{ .Params.recipe.prepTime }}",
      "totalTime": "{{ .Params.recipe.totalTime }}",
      "recipeYield": "{{ .Params.recipe.recipeYield }}",
      "recipeIngredient": {{ .Params.recipe.recipeIngredient }},
      "recipeInstructions": {{ .Params.recipe.recipeInstructions }},
      {{ with .Params.recipe.rating }}
      "aggregateRating" : {
          "@context": "http://schema.org",
          "@type": "AggregateRating",
          "ratingValue": "{{ .ratingValue }}",
          "reviewCount": "{{ .reviewCount }}",
          "bestRating": "{{ .bestRating }}",
          "worstRating": "{{ .worstRating }}"
      },
      {{ end }}
      "image" : {
          "@context": "http://schema.org",
          "@type": "ImageObject",
          "author": "{{ .Params.author }}",
          "url": "{{ .Params.image }}",
          "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05" }}",
          "name": "{{ .Title }}",
        },
      {{ with .Params.recipe.nutrition }}
      "nutrition": {
        "@type": "NutritionInformation",
        "servingSize": "{{ .servingSize }}",
        "calories": "{{ .calories }}",
        "fatContent": "{{ .fatContent }}",
        "carbohydrateContent": "{{ .carbohydrateContent }}",
        "cholesterolContent": "{{ .cholesterolContent }}",
        "fiberContent": "{{ .fiberContent }}",
        "proteinContent": "{{ .proteinContent }}",
        "saturatedFatContent": "{{ .saturatedFatContent }}",
        "sodiumContent": "{{ .sodiumContent }}",
        "sugarContent": "{{ .sugarContent }}",
        "transFatContent": "{{ .transFatContent }}"
      }
      {{ end }}
    }
</script>
